body {
    padding: 10px;
}

.container {
    display: flex;

    margin: 20px;
}

.imgsection {
    width:200px;
}

.active_content {
    margin-top: 0px;
    margin-left: 200px;
    flex: 1;
}

i{
    color:darkgray;
}

h2, h4 {
    margin: 0px;
    padding: 0px;
}