{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        {% if listings %}
            {% for listing in listings %}
                <img src="{{ listing.imageurl }}" width="300px">
                {{ listing.name }} <br/>
                {{ listing.description }} <br/>
                ${{ listing.price }} <br/>
                posted by : {{ listing.creator }}<br/>
                highest bid by :
                {% for bid in bids %}
                {{ bid }}
                {% endfor %}
                <hr>
            {% endfor %}
        {% endif %}
{% endblock %}