{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
        {% if listing.imageurl %}
            <img src="{{ listing.imageurl }}" width="500px">
        {% else %}
            <img src="{% static 'auctions/noimage.jpg' %}" width="500px">
        {% endif %}

            <h4>{{ listing.description }}</h4> <br/>
            <h3>Price: {% if maxprice %}${{ maxprice|floatformat:2 }} {% else %} ${{ listing.price|floatformat:2 }}{% endif %}</h3>
            {% if listing.active %}
                {% if user.is_authenticated %}
                    {% if user.id == listing.creator.id %}
                        <div class="form-group w-50">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Close auction" name="close_bid" class="btn btn-secondary">
                            </form>
                        </div>
                        {{ close }}
                    {% else %}
                        <div class="form-group w-25">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ offer }}    
                                <input type="submit" value="Bid" name="place_bid" class="btn btn-primary" id="bid_button">
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <h4><i>You need to be logged in to bid on this item</i></h4>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and request.user not in listing.watchlist.all %}
                <div class="form-group w-50">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Add to Watchlist" name="watch_item" class="btn btn-success">
                    </form>
                </div>
            {% elif user.is_authenticated and request.user in listing.watchlist.all %}
                <div class="form-group w-50">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Remove from Watchlist" name="unwatch_item" class="btn btn-danger">
                    </form>
                </div>
            {% endif %}

            {% if not listing.active and user.is_authenticated and maxbidder.id != user.id %}
                <h2>This auction has ended</h2>
            {% elif not listing.active and not user.is_authenticated %}
                <h2>This auction has ended. If you bid on this item, please log-in to see if you won.</h2>
            {% elif not listing.active and maxbidder.id == user.id and user.is_authenticated %}
                <h2>Congratulations{% if user.first_name %} {{ user.first_name }}{% endif %}, You have won the auction!</h2>   
            {% endif %}

            {% if bidcount == 0 and listing.active %}
                <h5>No bids so far.</h5>
            {% elif bidcount == 1 and listing.active %}
                <h5>{{ bidcount }} bid so far.</h5>
                <h5>{{ maxbidder }} is the current auction leader.</h5>
            {% elif bidcount == 0 and not listing.active %}
                <h5>This item hasn't been sold.</h5>
            {% elif bidcount != 0 and listing.active %}
                <h5>{{ bidcount }} bids so far.</h5>
                <h5>{{ maxbidder }} is the current auction leader.</h5>
            {% elif user.id == maxbidder.id and listing.active == true %}
                <h5>{{ bidcount }} bids so far.</h5>
                <h2>You are the highest bidder!</h2>
            {% endif %}
            
            <h4>Details: </h4>
            <ul>
                <li>Listed by : {{ listing.creator }}</li>
                <li>Created on : {{ listing.date_created }}</li>
                <li>Category : 
                    <ul>
                    {% for category in categories %}
                        <li>{{ category }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
            
            {% for entry in comments %}
            <b>{{ entry.user.username }}</b> |
            {{ entry.comment }} <br/>
            <i>{{ entry.timestamp|timesince }} ago</i><hr>
            {% endfor %}   
            
            {% if user.is_authenticated %}
                <div class="form-group w-100">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="submit" value="Submit comment" name="sub_comment" class="btn btn-secondary">
                    </form>
                </div>
            {% endif %}


{% endblock %}