{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Listing: {{ listing.name }}</h2>
    <div class="active_container">
        {% if listing.imageurl %}
            <img src="{{ listing.imageurl }}" width="500px">
        {% else %}
            <img src="{% static 'auctions/noimage.jpg' %}" width="500px">
        {% endif %}
        <div class="active_listing">
            <h4>{{ listing.description }}</h4> <br/>
            <h3>Current Price: {% if maxprice %}${{ maxprice|floatformat:2 }} {% else %} ${{ listing.price|floatformat:2 }}{% endif %}</h3>
            {% if listing.active %}
                {% if user.is_authenticated %}
                    {% if user.id == listing.creator.id %}
                        {{ none }}
                    {% else %}
                        <div class="form-group w-50">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ offer }}    
                                <input type="submit" value="Bid" class="btn btn-secondary">
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <h4><i>You need to be logged in to bid on this item</i></h4>
                {% endif %}
            {% elif not listing.active and maxbidder.id == user.id %}
                <h2>Congratulations{% if user.first_name %} {{ user.first_name }}{% endif %}, You have won the auction!</h2>
            {% else %}
                <h2>Sorry, this auction has ended</h2>
            {% endif %}

            {% if bidcount == 0 %}
                <h5>No bids so far.</h5>
            {% elif bidcount == 1 %}
                <h5>{{ bidcount }} bid so far.</h5>
                <h5>{{ maxbidder }} is the max bidder with user id of: {{ maxbidder.id }}</h5>
            {% else %}
                <h5>{{ bidcount }} bids so far.</h5>
                <h5>{{ maxbidder }} is the max bidder with user id of: {{ maxbidder.id }}</h5>
            {% endif %}
            {% if user.id == maxbidder.id %}
                <h2>You are the highest bidder!</h2>
            {% endif %}
            <h4>Details: </h4>
            <ul>
                <li>Listed by : {{ listing.creator }}</li>
                <li>Created on : {{ listing.date_created }}</li>
                <li>Category : 
                    <ul>
                    {% for category in categories %}
                        <li>{{ category }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>    
        </div>
    </div>

{% endblock %}